<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
        <h3>Product Description</h3>
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
      <hr style="border: 1px solid lightgray;" />

      <div class="col-sm-8">
        <dl class="dl-horizontal">
        <h3>Product Reviews</h3>
          <% product_reviews.each do |review| %>
            <dt>Rating: <%= review[:rating]%></dt>
            <dd><%= review[:description]%> --- By <%= review[:user]%></dd>
            <br/>
          <% end %>
        </dl>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">

          <%= form_for :review, url: "/products/#{params[:id]}/reviews" do |f| %>
            <dt>Description: </dt> 
            <dd><%= f.text_area :description %></dd>
            <dt>Rating:</dt>
            <dd><%= f.select :rating, options_for_select([["Rating", ""], 1, 2, 3, 4, 5]) %><dd> <br/>
            <%= f.submit 'Submit' %>
          <% end %>
        </dl>
      </div>

    </div>

  </article>

</section>
