<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Reviews</dt>
            
          <% product_reviews.each do |review| %>
            <dd>
            <%= review[:description]%>
            *****Rating: <%= review[:rating]%>*****
            By <%= review[:user]%>
            <br/>
            </dd>
          <% end %>
        </dl>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <%= form_for :review, url: "/products/#{params[:id]}/reviews" do |f| %>
            Description: <%= f.text_field :description %>
            <%= f.select :rating, options_for_select([["Rating", ""], 1, 2, 3, 4, 5]) %>
            <%= f.submit 'Submit' %>
          <% end %>
        </dl>
      </div>

    </div>

  </article>

</section>
